In [1]:
import pandas as pd
from tabula import read_pdf
import requests, bs4, time
import pandas as pd
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup as soup
from datetime import date
import pickle
import calendar
from collect_data import extract_links, extract_links_2, get_links, get_sub_links, make_links_dict

In [720]:
with open('C:/Users/lundr/economics/GDP_Forecasts/raw_data/all_data.pkl','rb') as f:
    df = pickle.load(f)

In [688]:
import numpy as np

def check_float(x):
    try:
        a = pd.to_numeric(x)
        if np.isnan(a):
            b = False
        else:
            b = isinstance(a,float)
    except:
        b = False
    return b

def check_star(x):
    try:
        if '*' in x:
            b = 1
        else:
            b=0
    except:
        b=0
    return b

In [712]:
df[k][n].columns

Index(['Forecasters and dates of forecasts', 'Unnamed: 0', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')

In [682]:
# k = 'april_2020'
# month = k.split('_')[0]
# year = k.split('_')[1]
# n=0
# # df[k][n]['forecast_yr'] = pd.to_numeric(year)+n

# df[k][n].columns

Index(['level_0', 'index', 'Forecaster', 'Forecasters and dates of forecasts',
       'month_of_forecast', 'new_forecasts', 'Forecast_2020',
       'forecast_publication'],
      dtype='object')

In [713]:
#cols_
df[k][n].columns

Index(['Forecasters and dates of forecasts', 'Unnamed: 0', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')

In [721]:
for k in df:
    for n in [0,1]:
        month = k.split('_')[0]
        year = k.split('_')[1]

        if month.capitalize() in calendar.month_name[2:13]:
            forecast_year = 'Forecast_{}'.format(pd.to_numeric(year)+n)
            df[k][n]['yr_forecast'] = pd.to_numeric(year)+n
            
        else:
            forecast_year='Forecast_{}'.format(pd.to_numeric(year)+n-1)
            df[k][n]['yr_forecast'] = pd.to_numeric(year)+n-1
            
        cols_ = list(df[k][n].columns)
        cols_ = [cols_[-1]] + cols_[:-1]
        df[k][n] = df[k][n][cols_]
       
        
        for i in df[k][n].columns[1:]:
            num = df[k][n][i].map(lambda x : check_float(x)).sum()
            if num > 0:
                df[k][n].rename(columns = {i:forecast_year}, inplace = True)
                break
            else:
                    pass

        cols = [col for col in  df[k][n] if col.startswith('Forecast_')]
        df[k][n]=df[k][n].loc[:,:cols[0]].copy()

In [724]:
df[k][n].columns

Index(['yr_forecast', 'Forecaster', 'Forecast_2012', 'new_forecasts',
       'month_of_forecast', 'forecast_publication'],
      dtype='object')

In [719]:
new_forecasts

'City forecasters'

In [723]:
for k in df:
    for n in [0,1]:   
        for i in df[k][n].columns:
            stars = df[k][n][i].map(lambda x : check_star(x)).sum()
            if (stars > 2) & (list(df[k][n].columns).index(i) !=1):
                new_forecasts = i
            elif (stars > 2) & (list(df[k][n].columns).index(i)==1):
                 df[k][n]['new_forecasts']=''
            else:
                pass
        
        df[k][n].rename(columns = {new_forecasts:'new_forecasts'}, inplace = True)    

        if 'Unnamed: 1' in df[k][n].columns:
            df[k][n].rename(columns = {'Unnamed: 1':'month_of_forecast'}, inplace = True)
        elif 'Unnamed: 0' in df[k][n].columns:
            df[k][n].rename(columns = {'Unnamed: 0':'month_of_forecast'}, inplace = True)
        else:
            df[k][n]['month_of_forecast']=''
        df[k][n]['forecast_publication']=k 
        df[k][n] = df[k][n].loc[:,~df[k][n].columns.duplicated()].copy()
        df[k][n].rename(columns = {df[k][n].columns[1]:'Forecaster'}, inplace = True)
        try:
            df[k][n] = df[k][n].drop(columns = ['Unnamed: 0']).copy()
        except:
            pass
        try:
            df[k][n] = df[k][n].drop(columns = ['Unnamed: 2']).copy()
        except:
            pass
        df[k][n] = df[k][n].dropna(subset=['Forecaster']).reset_index(drop=True)
        df[k][n] = df[k][n].dropna(subset=df[k][n].columns[1:],how='all').reset_index(drop=True)

In [725]:
month_abbrs = [' '+x for x in list(calendar.month_abbr)[1:]]
for k in df:
    for n in [0,1]: 
        for x in month_abbrs:
            for i in range(len(df[k][n])):
                if x in df[k][n]['Forecaster'][i]:
                    df[k][n]['Forecaster'][i]=df[k][n]['Forecaster'][i].split(x)[0]
                    df[k][n]['month_of_forecast'][i]=x
                else:
                    pass

for k in df:
    for n in [0,1]: 
        for x in month_abbrs:
            for i in range(len(df[k][n])):
                if isinstance(df[k][n]['new_forecasts'][i], float):
                    pass
                else:
                    if x in df[k][n]['new_forecasts'][i]:
                        df[k][n]['new_forecasts'][i]=df[k][n]['new_forecasts'][i].split(x)[0]
                        df[k][n]['month_of_forecast'][i]=x
                    else:
                        pass

C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [726]:
# concatenate all of the data frames
df_all = pd.DataFrame()
frames= [df[k][n] for k in df for n in [0,1]]
df_all = pd.concat(frames)
df_all.reset_index(drop=True, inplace=True)

In [727]:
screening_terms = ['(% of GDP)',
                   'Private consumption',
                   ' -',
                   'Domestic demand',
                   'GDP',
                   'Government consumption',
                   'consumption',
                   'CPI (Q4)',
                   'Change in inventorie',
                   'contribution (% of ',
                   'potential GDP)',
                  'Total imports',
                   'Total exports',
                  'Fixed investment',
                   'potential )',
                   'M4 xIOFC Growth',
                   'Government ',
                   ' growth (ppt))',
                   '(ppt)' ,
                   'Net trade contribution',
                   ')'
                  ]

In [728]:
for x in screening_terms: 
    for i in range(len(df_all['Forecaster'])):
        df_all['Forecaster'][i] = df_all['Forecaster'][i].replace(x,'')
        df_all['Forecaster'][i]=df_all['Forecaster'][i].strip()

C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [729]:
remove_list =['city forecasters','non-city','output gap','range of', 'scenario','European Commission (mild']
df_all['removals']=0
for i in range(len(df_all['Forecaster'])):
    count = 0
    for x in remove_list:
        if x in df_all['Forecaster'][i].lower():
            count =+1
    df_all['removals'][i]=count

df_all = df_all[df_all.removals==0]

C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [730]:

df_all.reset_index(drop=True, inplace=True)
df_all['yr_of_forecast'] = 0
df_all['mnth_of_forecast'] = 0

for i in range(len(df_all.month_of_forecast)):
    df_all.month_of_forecast[i] = str(df_all.month_of_forecast[i]).strip().replace('-',' ')
    for x in month_abbrs:
        if x.strip() in df_all.month_of_forecast[i]:
            df_all.mnth_of_forecast[i]=x

    if len(str(df_all.month_of_forecast[i]).strip().split(' '))>1:
        df_all.yr_of_forecast[i] =int(df_all.month_of_forecast[i].strip().split(' ')[1].replace("'",""))+2000
    else:
        if df_all.mnth_of_forecast[i]!=0:
            if list(calendar.month_abbr).index(df_all.mnth_of_forecast[i].strip()) <=list(calendar.month_name).index(df_all.forecast_publication[i].split('_')[0].capitalize()):
                df_all.yr_of_forecast[i]=df_all.forecast_publication[i].split('_')[1]
            else:
                df_all.yr_of_forecast[i]=int(df_all.forecast_publication[i].split('_')[1])-1

        elif isinstance(df_all.mnth_of_forecast[i],int) or isinstance(df_all.mnth_of_forecast[i],float):

            df_all.mnth_of_forecast[i]=list(calendar.month_abbr)[list(calendar.month_name).index(df_all.forecast_publication[i].split('_')[0].capitalize())]
            df_all.yr_of_forecast[i] = df_all.forecast_publication[i].split('_')[1]
        else:
            pass

C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [731]:
df_all.mnth_of_forecast= df_all.mnth_of_forecast.map(lambda x : x.strip())

In [732]:
mask = df_all.columns.str.contains('Forecast_2*')
df_all.loc[:,mask] = df_all.loc[:,mask].replace(r"[a-zA-Z]",'')
for cols in df_all.loc[:,mask].columns:
    df_all[cols] = pd.to_numeric(df_all[cols],errors='coerce',downcast='float')

In [733]:
df_all.columns

Index(['yr_forecast', 'Forecaster', 'month_of_forecast', 'new_forecasts',
       'Forecast_2020', 'forecast_publication', 'Forecast_2021',
       'Forecast_2019', 'Forecast_2018', 'Forecast_2017', 'Forecast_2016',
       'Forecast_2015', 'Forecast_2014', 'Forecast_2013', 'Forecast_2012',
       'Forecast_2011', 'removals', 'yr_of_forecast', 'mnth_of_forecast'],
      dtype='object')

In [771]:
import datetime
import monthdelta
# assume feb of the forecast year+ 1 is 0

df_all['mnths_before_outturn']=''

for i in range(df_all.shape[0]):
    forecast_date = datetime.datetime(df_all.yr_of_forecast[i],list(calendar.month_abbr).index(df_all.mnth_of_forecast[i]),1)
    outturn_date = datetime.datetime((df_all.yr_forecast[i]+1), 2, 1)
    df_all.mnths_before_outturn[i] = int(str(monthdelta.monthmod(outturn_date, forecast_date)[0]).replace('-',"").split(' ')[0])

C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [774]:
type(df_all.mnths_before_outturn[0])

int

In [790]:
import requests
import json

# read in data from the IMF API -> Quarterly US GDP
url = " https://api.ons.gov.uk/dataset/qna/timeseries/ihyp/data"
 #GET /dataset/{dataset_id}/timeseries/{timeseries_id}/data
response = requests.get(url).json()

In [797]:
data = {}
for i in response['years']:
    data[i['label']]=i['value']

In [830]:
df_all['outturn']=''
for i in range(df_all.shape[0]):
    try:
        df_all['outturn'][i]=float(data[str(df_all.yr_forecast[i])])
    except:
        df_all['outturn'][i]=np.nan
df_all.outturn=df_all.outturn.astype(float)

C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [832]:
cols = [col for col in  df[k][n] if col.startswith('Forecast_')]
df_all['error']=np.nanmax(df_all[cols], axis=1)-df_all.outturn
df_all.error=df_all.error.astype(float)

C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: All-NaN axis encountered

In [840]:
a = np.nanmax(df_all[cols], axis=1)
set(a)

C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: All-NaN axis encountered
  """Entry point for launching an IPython kernel.

{nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 ...}

In [820]:
df_all['abs_error']=df_all['error'].map(lambda x : abs(x))

In [828]:
df_all[df_all['mnths_before_outturn']==12]

,yr_forecast,Forecaster,month_of_forecast,new_forecasts,Forecast_2020,forecast_publication,Forecast_2021,Forecast_2019,Forecast_2018,Forecast_2017,...,Forecast_2013,Forecast_2012,Forecast_2011,removals,yr_of_forecast,mnth_of_forecast,mnths_before_outturn,outturn,error,abs_error
25,2020,Economic Perspectives,Feb,NaN,1.1,april_2020,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,2020,Feb,12,NaN,NaN,NaN
33,2020,NIESR,Feb,NaN,1.3,april_2020,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,2020,Feb,12,NaN,NaN,NaN
36,2020,European Commission,Feb,NaN,1.2,april_2020,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,2020,Feb,12,NaN,NaN,NaN
96,2020,Citigroup,Feb,NaN,0.7,march_2020,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,2020,Feb,12,NaN,NaN,NaN
109,2020,Schroders Investment Management,Feb,NaN,0.9,march_2020,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,2020,Feb,12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8861,2012,Independent,,,NaN,february_2012,NaN,NaN,NaN,NaN,...,NaN,0.9,NaN,0,2012,Feb,12,1.5,-0.6,0.6
8862,2012,New (marked *,,,NaN,february_2012,NaN,NaN,NaN,NaN,...,NaN,0.9,NaN,0,2012,Feb,12,1.5,-0.6,0.6
8863,2012,Highest,,,NaN,february_2012,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,0,2012,Feb,12,1.5,-0.5,0.5
8864,2012,Lowest,,,NaN,february_2012,NaN,NaN,NaN,NaN,...,NaN,0.7,NaN,0,2012,Feb,12,1.5,-0.8,0.8
8865,2012,Median,,,NaN,february_2012,NaN,NaN,NaN,NaN,...,NaN,0.9,NaN,0,2012,Feb,12,1.5,-0.6,0.6

In [833]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9180 entries, 0 to 9179
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   yr_forecast           9180 non-null   int64
 1   Forecaster            9180 non-null   object
 2   month_of_forecast     9180 non-null   object
 3   new_forecasts         5660 non-null   object
 4   Forecast_2020         575 non-null    float32
 5   forecast_publication  9180 non-null   object
 6   Forecast_2021         101 non-null    float32
 7   Forecast_2019         1027 non-null   float32
 8   Forecast_2018         1013 non-null   float32
 9   Forecast_2017         1005 non-null   float32
 10  Forecast_2016         1006 non-null   float32
 11  Forecast_2015         1049 non-null   float32
 12  Forecast_2014         1078 non-null   float32
 13  Forecast_2013         1049 non-null   float32
 14  Forecast_2012         562 non-null    float32
 15  Forecast_2011         42 non-null     float32
 16  removals              9180 non-null   int64
 17  yr_of_forecast        9180 non-null   int64
 18  mnth_of_forecast      9180 non-null   object
 19  mnths_before_outturn  9180 non-null   object
 20  outturn               8377 non-null   float64
 21  error                 562 non-null    float64
 22  abs_error             562 non-null    float64
dtypes: float32(11), float64(3), int64(3), object(6)
memory usage: 1.2+ MB

## scrape contents pages

In [ ]:
links_dict = make_links_dict(get_links(),get_sub_links(get_links()))

In [18]:
import PyPDF4
from urllib.request import urlopen
from io import BytesIO

contents_dict = {}
for u in links_dict.keys():
    url = links_dict[u]
    remoteFile = urlopen(Request(url)).read()
    memoryFile = BytesIO(remoteFile)
    reader = PyPDF4.PdfFileReader(memoryFile)
    page = reader.getPage(2)
    text = page.extractText()
    contents = {}
    for i,x in enumerate(text.split('\n')):
        if x.find('GDP')>0:
            contents[x] = text.split('\n')[i+1]
        else:
            pass
    contents_dict[u]=contents

PdfReadWarning: Xref table not zero-indexed. ID numbers for objects will be corrected. [pdf.py:1801]

Looks as if they all have the same page structure - so given that the contents pages of some files are being misread just search for the same page numbers

In [26]:
for k in contents_dict.keys():
    print(k)
    print(contents_dict[k].values())

april_2020
dict_values(['4', '7', '10', '12', '14', '16'])
march_2020
dict_values(['4', '7', '10', '12', '14', '16'])
february_2020
dict_values(['4', '7', '10', '12', '14', '16', '19', '24'])
january_2020
dict_values(['4', '7', '10', '12', '14', '16'])
december_2019
dict_values(['4', '7', '10', '12', '14', '16', '19', '24'])
october_2019
dict_values(['4', '7', '10', '12', '14', '16'])
september_2019
dict_values(['4', '7', '10', '12', '14', '16'])
august_2019
dict_values(['4', '7', '10', '12', '14', '16', '19', '24'])
july_2019
dict_values(['4', '7', '10', '12', '14', '16'])
june_2019
dict_values(['4', '7', '10', '12', '14', '16'])
may_2019
dict_values(['4', '7', '10', '12', '14', '16', '19', '24'])
april_2019
dict_values(['4', '7', '10', '12', '14', '16'])
march_2019
dict_values(['4', '7', '10', '12', '14', '16'])
february_2019
dict_values(['4', '7', '10', '12', '14', '17', '22'])
january_2019
dict_values(['4', '7', '10', '12', '14', '16'])
august_2018
dict_values(['4', '7', '10', '12', '14', '17', '22'])
july_2018
dict_values(['4', '7', '10', '12', '14', '16'])
june_2018
dict_values(['4', '7', '10', '12', '14', '16'])
may_2018
dict_values(['4', '7', '10', '12', '14', '17', '22'])
april_2018
dict_values(['4', '7', '10', '12', '14', '16'])
march_2018
dict_values(['4', '7', '10', '12', '14', '16'])
february_2018
dict_values(['4', '7', '10', '12', '14', '17', '22'])
january_2018
dict_values(['4', '7', '10', '12', '14', '16'])
september_2018
dict_values(['4', '7', '10', '12', '14', '16'])
october_2018
dict_values(['4', '7', '10', '12', '14', '16'])
december_2018
dict_values(['4', '7', '10', '12', '14', '16'])
november_2018
dict_values(['4', '7', '10', '12', '14', '17', '22'])
december_2017
dict_values(['4', '7', '10', '12', '14', '16'])
november_2017
dict_values(['4', '7', '10', '12', '14', '16', '19', '24'])
october_2017
dict_values(['4', '7', '10', '12', '14', '16'])
september_2017
dict_values(['4', '7', '10', '12', '14', '16'])
august_2017
dict_values(['4', '7', '10', '12', '14', '16', '19', '24'])
july_2017
dict_values([])
june_2017
dict_values(['d ', 'd ', 'I ', 'I '])
april_2017
dict_values([])
march_2017
dict_values([])
february_2017
dict_values(['4', '7', '10', '12', '14', '17', '22'])
january_2017
dict_values(['4', '7', '10', '12', '14', '16'])
august_2016
dict_values([])
july_2016
dict_values(['4', '7', '10', '12', '14', '16'])
june_2016
dict_values(['4', '7', '10', '12', '14', '16'])
may_2016
dict_values(['4', '7', '10', '12', '14', '16', '19', '24'])
april_2016
dict_values([])
march_2016
dict_values([])
february_2016
dict_values([])
january_2016
dict_values([])
september_2016
dict_values(['4', '7', '10', '12', '14', '16'])
october_2016
dict_values(['4', '7', '10', '12', '14', '16'])
december_2016
dict_values(['4', '7', '10', '12', '14', '16'])
november_2016
dict_values(['4', '7', '10', '12', '14', '16', '19', '24'])
october_2015
dict_values([])
september_2015
dict_values(['4', '7', '10', '12', '14', '16'])
august_2015
dict_values(['4', '7', '10', '12', '14', '16', '19', '24'])
july_2015
dict_values(['4', '7', '10', '12', '14', '16'])
june_2015
dict_values(['4', '7', '10', '12', '14', '16'])
may_2015
dict_values(['4', '7', '10', '12', '14', '16', '19', '24'])
april_2015
dict_values(['4', '7', '10', '12', '14', '16'])
march_2015
dict_values(['4', '7', '10', '12', '14', '16'])
february_2015
dict_values(['4', '7', '10', '13', '15', '17', '19', '21', '24', '29'])
january_2015
dict_values(['4', '7', '10', '12', '14', '16'])
december_2015
dict_values(['4', '7', '10', '12', '14', '16'])
november_2015
dict_values([])
september_2014
dict_values(['4', '7', '10', '12', '14', '16'])
august_2014
dict_values(['4', '7', '10', '12', '14', '16', '19', '24'])
july_2014
dict_values(['4', '7', '10', '12', '14', '16'])
june_2014
dict_values(['4', '7', '10', '12', '14', '16'])
may_2014
dict_values(['4', '7', '10', '12', '14', '16', '19', '24'])
april_2014
dict_values(['4', '7', '10', '12', '14', '16'])
march_2014
dict_values(['4', '7', '10', '13', '15', '17', '19', '21'])
february_2014
dict_values(['4', '7', '10', '13', '15', '17', '19', '21', 'Table M2: Medium-term forecasts for domestic demand and net trade contribution', '29'])
january_2014
dict_values(['4', '7', '10', '12', '14', '16'])
october_2014
dict_values(['4', '7', '10', '12', '14', '16'])
november_2014
dict_values(['4', '7', '10', '12', '14', '16', '19', '24'])
december_2014
dict_values(['4', '7', '10', '12', '14', '16'])
december_2013
dict_values(['4', '7', '10', '12', '14', '16'])
november_2013
dict_values(['4', '7', '10', '12', '14', '16', 'Table M2: Medium-term forecasts for domestic demand and net trade contribution', '24'])
january_2013
dict_values(['4', '7', '10', '12', '14', '16'])
october_2013
dict_values(['4', '7', '10', '12', '14', '16'])
september_2013
dict_values(['4', '7', '10', '12', '14', '16'])
august_2013
dict_values(['4', '7', '10', '12', '14', '16', 'Table M2: Medium-term forecasts for domestic demand and net trade contribution', '24'])
may_2013
dict_values(['4', '7', '10', '12', '14', '16', 'Table M2: Medium-term forecasts for domestic demand and net trade contribution', '24'])
july_2013
dict_values(['4', '7', '10', '12', '14', '16'])
june_2013
dict_values(['4', '7', '10', '12', '14', '16'])
april_2013
dict_values(['4', '7', '10', '12', '14', '16'])
march_2013
dict_values([])
february_2013
dict_values(['4', '7', '10', '13', '15', '17', '19', '21', 'Table M2: Medium-term forecasts for domestic demand and net trade contribution', '29'])
october_2012
dict_values(['4', '7', '10', '12', '14', '16'])
september_2012
dict_values(['4', '7', '10', '12', '14', '16'])
august_2012
dict_values(['4', '7', '10', '12', '14', '16', 'Table M2: Medium-term forecasts for domestic demand and net trade contribution', '24'])
july_2012
dict_values(['4', '7', '10', '12', '14', '16'])
june_2012
dict_values(['4', '7', '10', '12', '14', '16'])
may_2012
dict_values(['4', '7', '10', '12', '14', '16', 'Table M2: Medium-term forecasts for domestic demand and net trade contribution', '24'])
april_2012
dict_values(['4', '7', '10', '12', '14'])
march_2012
dict_values(['4', '7', '10', '13', '15', '17', '19', '21'])
february_2012
dict_values(['4', '7', '10', '13', '15', '17', '19', '21', 'Table M2: Medium-term forecasts for domestic demand and net trade contribution', '29'])
november_2012
dict_values(['4', '7', '10', '12', '14', '16', 'Table M2: Medium-term forecasts for domestic demand and net trade contribution', '24'])
december_2012
dict_values(['4', '7', '10', '12', '14', '16'])
january_2012
dict_values(['4', '7', '10', '12', '14', '16'])

In [506]:
list(calendar.month_abbr)[list(calendar.month_name).index(df_all.forecast_publication[i].split('_')[0].capitalize())]

'Jan'

In [32]:
test = read_pdf(links_dict['april_2020'],pages=[10,12])
#new_dict = dict(zip(contents.keys(),test))

In [33]:
test

[                   Forecasters and dates of forecasts Unnamed: 0 Unnamed: 1  \
 0                                    City forecasters        NaN        NaN
 1                 Bank of America - Merrill Lynch Apr          *          -
 2                                Barclays Capital Apr          *          -
 3                             Bloomberg Economics Apr          *          -
 4                               Capital Economics Apr          *          -
 5                                       Citigroup Apr          *          -
 6                                     Commerzbank Apr          *        0.9
 7                           Daiwa Capital Markets Jan        NaN          -
 8                                   Deutsche Bank Apr          *          -
 9                                   Goldman Sachs Apr          *          -
 10                                           HSBC Apr          *          -
 11                          ING Financial Markets Jan        NaN          -
 12                                      JP Morgan Apr          *          -
 13                                 Morgan Stanley Jan        NaN          -
 14                                Natwest Markets Apr          *          -
 15                                         Nomura Apr          *          -
 16                                       Pantheon Apr          *          -
 17                                  Santander GBM Dec        NaN          -
 18                Schroders Investment Management Apr          *          -
 19                               Societe Generale Apr          *        3.2
 20                                            UBS Apr          *          -
 21                                                NaN        NaN        NaN
 22                                                NaN        NaN        NaN
 23                               Non-City forecasters        NaN        NaN
 24                   British Chambers of Commerce Jan        NaN          -
 25                    Beacon Economic Forecasting Apr          *        2.3
 26                         Cambridge Econometrics Aug        NaN          -
 27                                            CBI Mar        NaN        1.4
 28                                           CEBR Apr          *        1.4
 29                          Economic Perspectives Feb        NaN        0.8
 30                             Experian Economics Jan        NaN          -
 31                                            EIU Apr          *          -
 32                                   Heteronomics Apr          *          -
 33                           IHS Markit Economics Oct        NaN          -
 34                                      ITEM Club Apr          *        0.9
 35                                Kern Consulting Apr          *          -
 36  Size of APF purchases Liverpool Macro Research...          *          -
 37                                                NaN        NaN        NaN
 38                                          NIESR Feb        NaN        2.3
 39                               Oxford Economics Apr          *        4.0
 40                                            PwC Dec        NaN          -
 41                                                NaN        NaN        NaN
 42                            European Commission Feb        NaN          -
 43                                                NaN        NaN        NaN
 44                                           OECD Mar        NaN          -
 45                                            IMF Apr          *          -
 46                                                NaN        NaN        NaN
 47     Average of forecasts made in the last 3 months        NaN        NaN
 48                                                NaN        NaN        NaN
 49                                        Independent        NaN        1.9
 50                                     New (marked *)        NaN        2.1
 51                                               City        NaN        2.1
 52       Range of forecasts made in the last 3 months        NaN        NaN
 53                                            Highest        NaN        4.0
 54                                             Lowest        NaN        0.8
 55                                             Median        NaN        1.4
 56           OBR - coronavirus reference scenario Apr        NaN          -

    Unnamed: 2  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6  Unnamed: 7  \
 0         NaN         NaN        NaN        NaN        NaN         NaN
 1           -         NaN        5.2          -          -         NaN
 2         2.2         NaN        4.7          -          -         NaN
 3           -         NaN        4.4          -          -         NaN
 4           -         NaN        4.6          -          -         NaN
 5         1.7         NaN        5.3          -        2.6         NaN
 6        -4.4         NaN        7.1        2.6        0.9         NaN
 7           -         NaN          -          -          -         NaN
 8           -         NaN        6.9          -          -         NaN
 9           -         NaN          -          -          -         NaN
 10          -         NaN        6.1          -        5.2         NaN
 11          -         NaN          -          -          -         NaN
 12          -         NaN        4.7          -          -         NaN
 13          -         NaN          -          -          -         NaN
 14          -         NaN        7.1          -          -         NaN
 15          -         NaN        6.5          -          -         NaN
 16        2.2         NaN        4.5          -          -         NaN
 17          -         NaN          -          -          -         NaN
 18        3.5         NaN        4.0        1.3        6.0         NaN
 19        6.5         NaN        4.1          -          -         NaN
 20          -         NaN          -          -       -0.4         NaN
 21        NaN         NaN        NaN        NaN        NaN         NaN
 22        NaN         NaN        NaN        NaN        NaN         NaN
 23        NaN         NaN        NaN        NaN        NaN         NaN
 24          -         NaN          -          -          -         NaN
 25       -3.0         NaN        9.2        3.2        2.4         NaN
 26          -         NaN          -          -          -         NaN
 27        0.8         NaN        4.1          -          -         NaN
 28        0.3         NaN        6.2        2.1        1.9         NaN
 29        0.0         NaN        4.5        1.6        1.2         NaN
 30          -         NaN          -          -          -         NaN
 31        7.0         NaN        7.0          -        8.3         NaN
 32        0.8         0.0        4.8          -          -         0.0
 33          -         NaN          -          -          -         NaN
 34        0.2         NaN        4.9          -        3.3         NaN
 35          -         NaN          -          -       -2.0         NaN
 36          -         NaN          -        0.8          -         NaN
 37        NaN         NaN        NaN        NaN        NaN         NaN
 38        0.3         NaN        4.1          -          -         NaN
 39        2.3         NaN        4.0        1.5        9.8         NaN
 40          -         NaN          -          -          -         NaN
 41        NaN         NaN        NaN        NaN        NaN         NaN
 42          -         NaN          -          -          -         NaN
 43        NaN         NaN        NaN        NaN        NaN         NaN
 44          -         NaN        4.1          -          -         NaN
 45          -         NaN        4.4          -          -         NaN
 46        NaN         NaN        NaN        NaN        NaN         NaN
 47        NaN         NaN        NaN        NaN        NaN         NaN
 48        NaN         NaN        NaN        NaN        NaN         NaN
 49        1.4         NaN        5.3        1.9        3.3         NaN
 50        1.7         NaN        5.5        1.9        3.5         NaN
 51        2.0         NaN        5.4        1.9        2.9         NaN
 52        NaN         NaN        NaN        NaN        NaN         NaN
 53        7.0         NaN        9.2        3.2        9.8         NaN
 54       -4.4         NaN        4.0        0.8       -2.0         NaN
 55        1.3         NaN        4.7        1.6        2.5         NaN
 56          -         NaN        6.0       2.10          -         NaN

    Unnamed: 8  Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13  \
 0         NaN         NaN         NaN         NaN         NaN         NaN
 1           -         NaN           -           -           -       130.0
 2           -         NaN       -31.8           -           -           -
 3           -         NaN           -       645.0           -           -
 4           -         NaN           -       645.0           -           -
 5           -         NaN       -56.5       770.0           -        82.1
 6         4.1         NaN       -70.7           -         5.4       149.0
 7           -         NaN           -           -           -           -
 8           -         NaN           -           -           -        89.6
 9           -         NaN           -           -           -       178.6
 10          -         NaN           -           -           -           -
 11          -         NaN           -           -           -           -
 12          -         NaN           -           -           -           -
 13          -         NaN           -           -           -           -
 14          -         NaN           -       845.0           -       105.0
 15          -         NaN           -       645.0           -           -
 16          -         NaN           -       685.0         4.8       100.0
 17          -         NaN           -           -           -           -
 18          -         NaN      -124.0       645.0         4.0        84.0
 19          -         NaN      -101.0       645.0         0.6       233.2
 20          -         NaN       -31.7       645.0           -       108.0
 21        NaN         NaN         NaN         NaN         NaN         NaN
 22        NaN         NaN         NaN         NaN         NaN         NaN
 23        NaN         NaN         NaN         NaN         NaN         NaN
 24          -         NaN           -           -           -           -
 25        3.3         NaN       -85.0       635.0         3.9       171.6
 26          -         NaN           -           -           -           -
 27          -         NaN       -64.7           -           -        55.7
 28          -         NaN       -29.2           -           -           -
 29        0.0         NaN       -65.0       425.0         0.5        70.0
 30          -         NaN           -           -           -           -
 31        2.1         NaN       -45.0           -         1.5           -
 32          -         0.0       -44.3       645.0        -0.6       154.2
 33          -         NaN           -           -           -           -
 34          -         NaN      -105.0       645.0           -       105.0
 35        2.5         NaN       -85.0           -           -        70.0
 36          -         NaN       -31.1           -           -         8.8
 37        NaN         NaN         NaN         NaN         NaN         NaN
 38        3.5         NaN       -80.6           -         1.3        67.2
 39        7.8         NaN       -79.3       644.8        -0.6        88.0
 40          -         NaN           -           -           -           -
 41        NaN         NaN         NaN         NaN         NaN         NaN
 42          -         NaN           -           -           -           -
 43        NaN         NaN         NaN         NaN         NaN         NaN
 44          -         NaN           -           -           -           -
 45          -         NaN           -           -           -           -
 46        NaN         NaN         NaN         NaN         NaN         NaN
 47        NaN         NaN         NaN         NaN         NaN         NaN
 48        NaN         NaN         NaN         NaN         NaN         NaN
 49        3.3         NaN       -66.5       654.6         2.1       107.9
 50        4.0         NaN       -65.7       672.3         2.4       116.1
 51        4.1         NaN       -69.3       685.6         3.7       127.9
 52        NaN         NaN         NaN         NaN         NaN         NaN
 53        7.8         NaN       -29.2       845.0         5.4       233.2
 54        0.0         NaN      -124.0       425.0        -0.6         8.8
 55        3.3         NaN       -65.0       645.0         1.4       100.0
 56          -         NaN           -           -           -           -

                  Unnamed: 14
 0                        NaN
 1                        NaN
 2                        NaN
 3                        NaN
 4                        NaN
 5                        NaN
 6                        NaN
 7                        NaN
 8                        NaN
 9                        NaN
 10            Real household
 11         disposable income
 12                       NaN
 13                       NaN
 14         Employment growth
 15                       NaN
 16                       NaN
 17     LFS Unemployment rate
 18                      (Q4)
 19                       NaN
 20                  Claimant
 21         unemployment (Q4,
 22                 millions)
 23                       NaN
 24      Manufacturing output
 25                       NaN
 26                       NaN
 27      World trade in goods
 28              and services
 29                       NaN
 30                       NaN
 31                       NaN
 32     Current account (£bn)
 33                       NaN
 34                       NaN
 35                       NaN
 36                       NaN
 37                 (Q4, £bn)
 38                       NaN
 39                       NaN
 40                       NaN
 41  Productivity (output per
 42                       NaN
 43                     hour)
 44                       NaN
 45                       NaN
 46                      PSNB
 47                       NaN
 48             (£bn 2021-22)
 49                       NaN
 50                       NaN
 51                       NaN
 52                       NaN
 53                       NaN
 54                       NaN
 55                       NaN
 56                       NaN  ,
    Unnamed: 0  Unnamed: 1  PSNB (2020-21, £billion)  Unnamed: 2
 0         NaN         1.0                       NaN         NaN
 1       140.0         NaN                       NaN       140.0
 2         NaN         2.0                       NaN         NaN
 3         NaN         3.0                       NaN         NaN
 4       110.0         NaN                       NaN       110.0
 5         NaN         4.0                       NaN         NaN
 6         NaN         5.0                       NaN         NaN
 7         NaN         6.0                       NaN         NaN
 8        80.0         NaN                       NaN        80.0]

In [148]:
new_dict['Average of independent forecasts for 2019; GDP growth, CPI and RPI inflation and claimant unemployment']

,Forecasters and dates of forecasts,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,City forecasters,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bank of America - Merrill Lynch,NaN,Dec,*,-,-,3.9,-,-,-,-,NaN,-,-,-,NaN
2,Barclays Capital,NaN,Dec,*,-,1.0,4.1,-,-,-,-102.6,NaN,-,-,-,NaN
3,Bloomberg Economics,NaN,Aug,NaN,-,-,4.0,-,-,-,-,NaN,435.0,-,-,NaN
4,Capital Economics,NaN,Dec,*,1.7,1.1,3.9,-,-,-,-4.2,NaN,435.0,0.2,53.0,NaN
5,Citigroup,NaN,Dec,*,-,1.0,4.1,-,-0.7,-,-96.6,NaN,445.0,-,42.9,NaN
6,Commerzbank,NaN,Dec,*,1.7,1.2,3.9,1.2,-0.8,4.9,-91.5,NaN,-,0.3,55.8,NaN
7,Daiwa Capital Markets,NaN,May,NaN,-,-,4.0,-,-,-,-,NaN,445.0,0.3,-,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Real household disposable
9,Deutsche Bank,NaN,Dec,*,-,0.8,-,-,-,-,-,NaN,-,-,50.6,income
10,Goldman Sachs,NaN,Jan,NaN,-,0.4,4.0,-,-,-,-,NaN,-,0.9,-,NaN
11,HSBC,NaN,Dec,*,-,-,3.9,-,-0.2,-,-,NaN,-,-,-,NaN
12,ING Financial Markets,NaN,Oct,NaN,-,-,-,-,-,-,-,NaN,-,-,-,Employment growth
13,JP Morgan,NaN,Dec,*,-,-,3.8,-,-,-,-,NaN,-,-,-,NaN
14,Morgan Stanley,NaN,Aug,NaN,1.9,0.6,4.3,-,-,-,-,NaN,-,0.6,29.3,NaN
15,Natwest Markets,NaN,Dec,*,1.9,1.0,3.9,-,-0.6,-,-94.0,NaN,445.0,-,52.0,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LFS Unemployment rate
17,Nomura,NaN,Dec,*,-,-,3.8,-,-,-,-,NaN,435.0,-,-,(Q4)
18,Pantheon,NaN,Oct,NaN,-,1.1,3.8,-,-,-,-,NaN,445.0,0.2,52.0,NaN
19,Santander GBM,NaN,Dec,*,-,0.9,3.9,-,-0.7,-,-102.3,NaN,445.0,-,48.6,NaN
20,Schroders Investment Management,NaN,Oct,NaN,-,1.5,4.0,1.2,0.4,-,-88.0,NaN,445.0,0.4,27.5,NaN
21,Societe Generale,NaN,Dec,*,1.8,1.0,3.9,-,-,-,-113.1,NaN,445.0,-0.2,45.7,Claimant unemployment
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Q4,millions)"
23,UBS,NaN,Dec,*,-,-,-,-,-0.8,-,-109.7,NaN,-,-,-,NaN
24,Non-City forecasters,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,British Chambers of Commerce,NaN,Dec,*,-,-,4.0,-,-0.4,-,-103.6,NaN,-,0.4,54.0,Manufacturing output
26,Beacon Economic Forecasting,NaN,Dec,*,2.0,1.4,3.9,1.2,-0.8,2.7,-99.8,NaN,435.0,-0.4,49.2,NaN
27,Cambridge Econometrics,NaN,Aug,NaN,-,-,-,-,-,-,-,NaN,-,-,-,NaN
28,CBI,NaN,Dec,*,-,1.0,3.9,-,-,-,-95.9,NaN,-,-,48.6,NaN
29,CEBR,NaN,Sep,NaN,2.1,1.0,3.9,1.2,-0.5,-,-,NaN,-,0.0,-,World trade in goods and
30,Economic Perspectives,NaN,Dec,*,1.7,1.5,3.9,1.0,0.2,2.0,-65.0,NaN,425.0,0.8,37.0,services
31,Experian Economics,NaN,Dec,*,1.9,1.3,4.0,1.2,1.1,-,-49.8,NaN,-,-,32.3,NaN
32,EIU,NaN,Dec,*,-,0.5,3.8,-,0.5,-,-89.6,NaN,-,0.8,-,NaN
33,Heteronomics,NaN,Dec,*,-,1.0,3.9,-,-,-,-84.0,NaN,445.0,0.3,34.3,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Current account (£bn)
35,IHS Markit Economics,NaN,Oct,NaN,-,1.1,3.8,-,-0.3,-,-,NaN,-,-,-,NaN
36,ITEM Club,NaN,Dec,*,2.0,0.8,3.9,-,-0.7,-,-98.0,NaN,445.0,-,46.0,NaN
37,Kern Consulting,NaN,Dec,*,-,-,4.0,-,0.2,2.4,-89.0,NaN,-,-,46.0,NaN
38,Liverpool Macro Research,NaN,Dec,*,-,-,-,0.8,-,-,-86.4,NaN,-,-,37.2,Size of APF purchases
39,NIESR,NaN,Dec,*,2.1,0.9,4.0,-,-,2.8,-85.3,NaN,-,0.2,63.7,"(Q4, £bn)"
40,Oxford Economics,NaN,Dec,*,1.6,1.5,3.8,1.2,-0.8,1.9,-94.2,NaN,444.5,-,43.5,NaN
41,PwC,NaN,Dec,*,-,-,-,-,-,-,-,NaN,-,-,-,NaN
42,European Commission,NaN,Dec,*,-,1.0,-,-,-,-,-,NaN,-,-,-,Productivity (Output per
43,OECD,NaN,Oct,NaN,-,-,3.8,-,-,-,-,NaN,-,-,-,hour)
44,IMF,NaN,Oct,NaN,-,-,3.8,-,-,-,-94.7,k,-,-,-,NaN
45,Average of forecasts made in the last 3 months,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PSNB
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(£bn 2019-20)
47,Independent,NaN,NaN,NaN,1.9,1.1,3.9,1.1,-0.3,2.8,-87.7,NaN,441.1,0.2,46.0,NaN
48,New (marked *),NaN,NaN,NaN,1.8,1.0,3.9,1.1,-0.3,2.8,-87.7,NaN,440.4,0.3,46.7,NaN
49,City,NaN,NaN,NaN,1.8,1.1,3.9,1.2,-0.5,4.9,-89.1,NaN,442.5,0.2,47.6,NaN
50,Range of forecasts made in the last 3 months,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Highest,NaN,NaN,NaN,2.1,1.5,4.1,1.2,1.1,4.9,-4.2,NaN,445.0,0.8,63.7,NaN
52,Lowest,NaN,NaN,NaN,1.6,0.5,3.8,0.8,-0.8,1.9,-113.1,NaN,425.0,-0.4,27.5,NaN
53,Median,NaN,NaN,NaN,1.9,1.0,3.9,1.2,-0.5,2.6,-94.0,NaN,445.0,0.2,47.3,NaN
54,OBR,Mar,NaN,NaN,0.7,0.4,4.1,-,-,3.8,-110.2,NaN,-,0.8,29.3,NaN

### Other code snippets

In [ ]:
iden_dict = {}

for k in df:
    counts = []
    for i in range(len(df[k])):
        if df[k][i].iloc[:,-1].map(lambda x : str(x)).str.count('GDP').sum()>0:
            counts.append(i)
    iden_dict[k] = counts